@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.input {
  @apply rounded-md w-4/5 bg-[#373737] md:h-12 m-1 md:mx-16 p-1 pr-2 text-right text-white text-[14px] md:text-[20px] font-['Inter'];
}

@layer utilities {
  input:hover {
    @apply bg-[#1b1b1b];
  }

  input:focus {
    @apply bg-[#1b1b1b] outline-none border-none;
  }
}

/* Стилизация трека (дорожки) ползунка */
::-webkit-scrollbar {
  width: 12px; /* Ширина ползунка */
}

/* Стилизация ползунка */
::-webkit-scrollbar-thumb {
  background-color: #373737; /* Цвет ползунка */
  border-radius: 10px; /* Скругленные углы */
  border: 3px solid #242424; /* Белый ободок вокруг ползунка */
}

/* Стилизация трека (фон за ползунком) */
::-webkit-scrollbar-track {
  background-color: #242424; /* Цвет дорожки */
  border-radius: 10px; /* Скругленные углы трека */
}

/* Для Chrome, Safari, Edge */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.settings {
  @apply md:w-1/2 flex justify-between md:justify-center items-center w-full md:mb-0 mb-5;
}

#toggle:checked + label .dot {
  @apply translate-x-6; /* Перемещаем переключатель вправо при активном состоянии */
}

#toggle:checked + label div.block {
  @apply bg-blue-500; /* Меняем цвет фона при активном состоянии */
}

.params {
  @apply w-full flex items-center justify-center m-0.5;
}

/*body {*/
/*  overflow-x: hidden;*/
/*}*/
